/***********************************************************/
/****************Cтиль линейки******************************/
/***********************************************************/
#main-rule {
	margin-top: 1%;
	background-color: #e3f2fd;
	width: 70%;
	height: 20%;
	position: absolute;
	left: 15%;
	box-shadow: 1px 1px 3px #42a5f5;
}

#main-rule #big-rule {
	position: relative;
	width: 70%;
	height: 60%;
	background-color: #90caf9;
	top: 20%;
	left: 10%;
	overflow: hidden;

	padding-left:2.5%;
	padding-right:2.5%;
	float: left;

	box-shadow: 0px 0px 10px #0d47a1;
}

#big-rule #rule{
	position: relative;
	min-width: 100%;
	max-height: 100%;
	width: 5000%;
	height: 100%;

	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none; 
	user-select: none; 
}


#rule .rule-element {
	position: relative;
	width: 40px;/*5%*/
	height: 40px;
	top: 25%;
	margin-bottom: 5%;
	background-color: #2196f3;
	float: left;
	border-radius: 100%;
	box-shadow: 0px 1px 2px #0d47a1;
	z-index: 1;
	-webkit-transition-property: -webkit-transform, background-color;
	-webkit-transition: 0.25s ease-out;
	-moz-transition-property: -moz-transform, background-color;
	-moz-transition: 0.25s ease-out;
	-o-transition: -o-transform, background-color;
	-o-transition: 0.25s ease-out;
	transition-property: transform, background-color;
	transition: 0.25s ease-out;

	text-align: center;
	font: 7pt/4.5 sans-serif;
	color: #bbdefb;
}

#rule .rule-element:hover, #rule .rule-element:active {
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	z-index: 2;
	background-color: #1e88e5;
	font-size: 12pt;
	line-height: 2.5;
	color: #e3f2fd;
	/**/
	cursor: pointer;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none; 
	user-select: none; 
}

#rule .rule-element:hover {
	text-shadow: 0px 2px 1px #1565c0;
	box-shadow: 0px 2px 4px #0d47a1;
}

#rule .rule-element:active {
	text-shadow: 0px 3px 2px #1565c0;
	box-shadow: 0px 2px 6px #0d47a1;
}

.month-element {
	position: absolute;
	background-color: #1e88e5;
	box-shadow: 0px 2px 6px #0d47a1;
	border-radius: 100%;
	z-index: 2;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none; 
	user-select: none; 
}
/***В Chrome не работает одлновременное использование более одного селектора, поэтому
	для него создается отдельный класс, который подключается в скрипте
**/
.month-element:hover, .month-element-hover {
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	z-index: 3;
	background-color: #1976d2;
	box-shadow: 0px 2px 6px #0d47a1;
	cursor: pointer;
}

.month-element::after, .month-element-after {
		background: rgba(13, 71, 161, 0.8);/*0d47a1*/
    border-radius: 8px 8px 8px 0px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    font: 12pt Arial, sans-serif;
    color: #e3f2fd;
    content: attr(data-tooltip); /* Главная часть кода, определяющая содержимое всплывающей подсказки */
    margin-top: -90%;
    margin-left: 90%;
    opacity: 0; /* Наш элемент прозрачен... */
    padding: 3px 7px;
    position: absolute;
    visibility: hidden; /* ...и скрыт. */
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}
.month-element:hover::after {
	opacity: 1;
	visibility: visible;
}
/**************************************************/
#left-arrow,#right-arrow {
	position: relative;
	float: left;
	left:10%;
	top: 20%;
	height: 60%;
	width: 2%;
	text-align: center;
	opacity: 0.7;
	-webkit-transition: opacity 0.25s ease-in;
	-moz-transition: opacity 0.25s ease-in;
	-o-transition: opacity 0.25s ease-in;
	transition: opacity 0.25s ease-in;

	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none; 
	user-select: none; 
}

#left-arrow {
	background: #1976d2 url(../img/ic_chevron_left_white_24dp.png) no-repeat center;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;	
	box-shadow: -3px 2px 3px #0d47a1;
	margin-right: 1%;
}

#right-arrow {
	background: #1976d2 url(../img/ic_chevron_right_white_24dp.png) no-repeat center;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	box-shadow: 3px 2px 3px #0d47a1;
	margin-left: 1%;
}

#right-arrow:active {
	box-shadow: 1px 1px 3px #0d47a1;
}

#left-arrow:active {
	box-shadow: -1px 1px 3px #0d47a1;
}

#left-arrow:hover,#right-arrow:hover, #rule-arrow:hover {
	opacity: 1;
	cursor: pointer;
}

.rule-arrow {
}


/***********************************************************/
/**************Cтиль информационной панели******************/
/***********************************************************/
#info-panel {
	position: absolute;
	top: 22%;
	height: 65%;
	margin-top: 1%;
	left: 2.5%;
	right: 2.5%;
	background-color: #e3f2fd;
	box-shadow: 1px 1px 4px #42a5f5;
	overflow: hidden; 
}

#info-panel #info-slide-container {
	min-width: 100%;
	max-height: 100%;
	height: 100%;
	width: 50000%;
	padding-left: 2%;
}

#info-slide-container .info-element {
	position: relative;
	width: 370px;
	height: 92%;
	margin-left: 12px;
	margin-bottom: 2%;
	top: 4%;
	float: left;
	overflow: hidden;
	background-color: #90caf9;
	box-shadow: 2px 2px 3px #1565c0;

	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none; 
	user-select: none; 
}

#info-center {
	margin-left: 50%;
}

.info-element .info-image {
	display: block;
	width: 100%;
	height: 30%;
	float:left;
}

.info-element .info-year {
	text-align: right;
	position: absolute;
	top: 0%;
	right: 0;
	font: 50pt sans-serif;
	color: #e3f2fd;
	text-shadow: 1px 1px 3px #1565c0;
}

.info-element .info-month, .info-element .info-day {
	text-align: left;
	position: absolute;
	top: 15%;
	left: 15%;
	font: 30pt sans-serif;
	color: #e3f2fd;
	text-shadow: 1px 1px 3px #1565c0;
}

.info-element .info-day {
	left: 0%;
}

.info-element .info-annotation {
	width: 100%;
	font: 12pt Arial, sans-serif;
	color: #1565c0;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	text-align: justify;
	padding-left: -50px;
}

.info-element .info-annotation p {
	text-indent: 1.5em;
	margin-left: 2.5%;
	margin-right: 2.5%;
	position: relative;
}

.info-element .info-detail {
	position: absolute;
	bottom: 0;
	right: 0;
	left:0;
	height: 15%;
	padding-top:5%; 
	white-space: nowrap;

	text-align: center;
	vertical-align: middle;
	font: bold 2em Helvetica, Arial, sans-serif;
	color: #bbdefb;
	background: #2962ff;
	background: linear-gradient(to top, #2979ff, #448aff, rgba(130, 177, 255, 0.5) );
	opacity: 0.2;

	-webkit-transition: opacity 0.25s ease-in;
	-moz-transition: opacity 0.25s ease-in;
	-o-transition: opacity 0.25s ease-in;
	transition: opacity 0.25s ease-in;
}

.info-element .info-detail:hover {
	opacity: 1;
	cursor: pointer;
}


#info-panel #slide-arrow-left, #info-panel #slide-arrow-right {
	position: absolute;
	height: 100%;
	width: 5%;
	opacity: 0.2;
	-webkit-transition: opacity 0.25s ease-out;
	-moz-transition: opacity 0.25s ease-out;
	-o-transition: opacity 0.25s ease-out;
	transition: opacity 0.25s ease-out;
}

#info-panel #slide-arrow-left {
	left: 0;
	background-image: url(../img/ic_chevron_left_white_48dp.png); /* fallback */
	background-image: url(../img/ic_chevron_left_white_48dp.png), 
										-webkit-gradient(linear, left right, from(#64b5f6), to(r227(1842 2223 2511 0.2))); /* Saf4+, Chrome */
	background-image: url(../img/ic_chevron_left_white_48dp.png), 
										-webkit-linear-gradient(right, #64b5f6, rgba(227, 242, 253, 0.1)); /* Chrome 10+, Saf5.1+ */
	background-image: url(../img/ic_chevron_left_white_48dp.png),    
										-moz-linear-gradient(right, #64b5f6, rgba(227, 242, 253, 0.1)); /* FF3.6+ */
	background-image: url(../img/ic_chevron_left_white_48dp.png),      
										-o-linear-gradient(right, #64b5f6, rgba(227, 242, 253, 0.1)); /* Opera 11.10+ */
	background-image: url(../img/ic_chevron_left_white_48dp.png),         
										linear-gradient(to right, #64b5f6, rgba(227, 242, 253, 0.1)); /* W3C */
	background-repeat: no-repeat;
	background-position: center;
}

#info-panel #slide-arrow-right {
	right: 0;
	background-image: url(../img/ic_chevron_right_white_48dp.png); /* fallback */
	background-image: url(../img/ic_chevron_right_white_48dp.png), 
										-webkit-gradient(linear, right left, from(#64b5f6), to(rgba(227, 242, 253, 0.1))); /* Saf4+, Chrome */
	background-image: url(../img/ic_chevron_right_white_48dp.png), 
										-webkit-linear-gradient(left, #64b5f6, rgba(227, 242, 253, 0.1)); /* Chrome 10+, Saf5.1+ */
	background-image: url(../img/ic_chevron_right_white_48dp.png),    
										-moz-linear-gradient(left, #64b5f6, rgba(227, 242, 253, 0.1)); /* FF3.6+ */
	background-image: url(../img/ic_chevron_right_white_48dp.png),      
										-o-linear-gradient(left, #64b5f6, rgba(227, 242, 253, 0.1)); /* Opera 11.10+ */
	background-image: url(../img/ic_chevron_right_white_48dp.png),         
										linear-gradient(to left, #64b5f6, rgba(227, 242, 253, 0.1)); /* W3C */
	background-repeat: no-repeat;
	background-position: center;
}

#info-panel #slide-arrow-left:hover, #info-panel #slide-arrow-right:hover {
	opacity: 0.7;
	cursor: pointer;
}

.disable-arrow {
	opacity: 0.1 !important;
}

/***************************************************************************
* Модальное окно
***************************************************************************/
#modal-window {
	position: fixed;
	background-color: rgba(13, 71, 161, 0.7);
	width: 100%;
	height: 100%;
	z-index: 4;
	overflow-y: scroll;
	overflow-x: hidden;
	visibility: hidden;
}

#modal-window #modal-arrow-left, 
#modal-window #modal-arrow-right {
	position: fixed;
	top: 0;
	height: 100%;
	width: 20%;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.2;
	-webkit-transition: opacity 0.25s ease-out;
	-moz-transition: opacity 0.25s ease-out;
	-o-transition: opacity 0.25s ease-out;
	transition: opacity 0.25s ease-out;
}

#modal-window #modal-arrow-left {
	left: 0;
	background-image: url(../img/ic_chevron_left_white_48dp.png);
}

#modal-window #modal-arrow-right {
	right: 17px;
	background-image: url(../img/ic_chevron_right_white_48dp.png);
}

#modal-window #modal-arrow-left:hover, 
#modal-window #modal-arrow-right:hover {
	opacity: 1;
	cursor: pointer;
}

.info-modal {
	position: relative;
	width: 50%;
	margin: 2.5% 20% 15% 20%;
	background-color: #90caf9;
	padding: 2.5% 5%;
	font: 1.25em Arial, sans-serif;
}

.info-modal .info-year {
	font: 6em Arial, sans-serif;
	position: absolute;
	top: 0.5%;
	right: 1em;
	color: #e3f2fd;
	text-shadow: 1px 2px 5px #1565c0;
}

.info-modal .info-day, .info-modal .info-month {
	font: 4em Arial, sans-serif;
	position: absolute;
	top: 3em;
	left: 2.5em;
	color: #e3f2fd;
	text-shadow: 1px 1px 3px #1565c0;
}

.info-modal .info-day {
	left: 1em;
}

.info-modal .info-image {
	display: block;
	position: relative;
	max-width: 100%;
	height: 300px;
	box-shadow: 1px 1px 5px black;
	border: 0px none;
	border-radius: 0 10px 10px 0;
	margin-bottom: 1em;
}

.info-modal .info-annotation {
	width: 100%;
	color: #0d47a1;
	text-align: left;
	line-height: 1.5em;
}

.info-modal .info-annotation p {
	text-indent: 1.5em;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-bottom: 0.5em;
	position: relative;
}

#modal-window #modal-close {
	position: absolute;
	top:0;
	right:0;
	width: 24px;
	height: 24px;
	margin: 10px;
	background-image: url(../img/ic_close_white_18dp.png);
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.5;
	-webkit-transition: opacity 0.25s ease-out;
	-moz-transition: opacity 0.25s ease-out;
	-o-transition: opacity 0.25s ease-out;
	transition: opacity 0.25s ease-out;
}

#modal-window #modal-close:hover {
	opacity: 1;
	cursor: pointer;
}